.foodtradition{
    display: flex;
}
.halfwifi{
    width: 100%;
}
.barger{
    margin-left: 100px;
}
#redtrad{
    color: rgb(151, 23, 23);
}
h2{
    font-size: 50px;
    font-weight: 600;
}
.cul{margin-right: 50px;
    padding: 20px;
    font-size: 25px;

}