.foodtradition{
    display: flex;
}
.halfwifi{
    width: 100%;
}

.ipone img{
    width: 25%;
}


.barger{
    margin-left: 100px;
}
#redtrad{
    color: rgb(151, 23, 23);
}
h2{
    font-size: 50px;
    font-weight: 600;
}
.cul{margin-right: 50px;
    padding: 20px;
    font-size: 25px;
    margin-left: 50px;

}
.fourone{
  
}
h3{margin-top: 150px;
    color: darkred;
    font-size: 50px;
    margin-left: 60px;
}
.imthree{
    margin-left: 200px;
    margin-top: 250px;
}
.readone{
    text-decoration: none;
    background-color: rgb(59, 250, 240);
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(red rgb(219, 255, 151));
    color: mintcream;
    font-weight: 800;
    margin-left: 500px;
    
}
.bg-img-second{margin-top: 50px;
    background-image: url(final.jpg);
    background-repeat: no-repeat;
    
}
.white{
    color: mintcream;
    
}