body{
    margin: 0;
}

.foodtradition{
    display: flex;
}
.halfwifi{
    width: 100%;
}

.ipone img{
    width: 66%;
}


.barger img{
    margin-left: 100px;
    border-radius: 50px;
    width: 80%;
    margin-top: 50px;
}
#redtrad{
    color: rgb(151, 23, 23);
}
h2{
    font-size: 50px;
    font-weight: 600;
    margin-left: 60px;
}
.cul{margin-right: 50px;
    padding: 20px;
    font-size: 25px;
    margin-left: 50px;

}
.fourone{
  
}
h3{margin-top: 150px;
    color: darkred;
    font-size: 50px;
    margin-left: 60px;
}
.indo{
   

}
.imthree{
    margin-left: 200px;
    margin-top: 0;

}
.readone{
    text-decoration: none;
    background-color: rgb(59, 250, 240);
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(red rgb(219, 255, 151));
    color: mintcream;
    font-weight: 800;
    margin-left: 500px;
    
}
.bg-img-second{margin-top: 50px;
    background-image: url(ok.jpg);
    background-repeat: no-repeat;
    
}
.white{
    color: rgb(0, 0, 0);
    
}
#TURKI{
    color: rgb(12, 73, 114);
}
.turk{
    margin-top: 25px;
}
.kababpic{
    margin-top: 170px;
    margin-left: 150px;
   
}
.kababpic img{
    box-shadow: 20px 20px 100px rgb(213, 46, 17);
    width:80% ;
}
.linkb{text-decoration: none;
    background-color: rgb(59, 250, 240);
    padding: 10px 40px;
    border-radius: 10px;
    color: mintcream;
    font-weight: 800;
    margin-left: 150px;
margin-bottom: 100px;

}

    



.threeinone img{
    width: 90%;
    margin-top: 85px;
    padding: 25px;
    margin-left: px;
    border-radius: 100px;
    
   
}
.four-part-p{
font-size: 25px;
font-weight: 600;
padding: 20px;
}
h5{
    margin-left: 25px;
    font-size: 30px;

}

.threeinone{box-shadow: 20px 10px 100px rgb(78, 75, 75);
margin-top: 200px;
margin-left: 50px;
margin-right: 50px;
border-radius: 50px;
margin-bottom: 50px;

}
footer{
    background-color: black;
    text-align:center;
    color: burlywood;
    margin-top: 40px;
    
}

#thai img{margin-top: -10px;

}
.fastfood img{margin-top: 70px;
    width: 100%;
}
.icecream img{margin-left: 5px;
    margin-right: 0;
    width: 100% ;
  
}
h4{
    font-size: 50px;
    font-weight: 600;
    color: orange;
   text-align: center;
   margin-top: 150px;
    
}
#middle{text-align: center;
font-size: 30px;
font-weight: 600;
margin-left: 100px;
padding: 10px;
color: rgb(126, 15, 15);
}